.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(53, 69, 69);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

